html, h1 {
    background-color: rgb(245, 245, 245);
    font-family: 'Special Elite', cursive;

}
body, h2 {
    background-color: rgb(245, 245, 245);
    font-family: 'Antic Slab', serif;
}
#chord h2{
    text-align: center;
    font-weight: 100;
    letter-spacing: 2px;
}
#mode h2, p{
    text-align: center;
    font-weight: 100;
    letter-spacing: 2px;
}
#negative h2, p{
    text-align: center;
    font-weight: 100;
    letter-spacing: 2px;
}
#Title {  
    font-weight: 100;
    letter-spacing: 2px;
    text-align: center;
    padding: 15px;
}
#tabs {
    text-align: center;
    display: block;
    margin: 0 auto;
}
/*.w3-third label{
    font-weight: 300;
    font-size: 12px;
}
.w3-third p{
    font-weight: 100;
    font-size: 12px;
}*/
#chordbutt, #modebutt, #chordbutt2 {
    border: none;
    border-radius: 10px; 
    background-color: #DCDCDC; 
    padding: 15px; 
    display: block; 
    margin: 0 auto;
    color: rgb(100, 100, 90);
    font-weight: 700;
}
.subtitle {
    color: rgb(100, 100, 90);
}
.labels{
    text-decoration: underline; 
    font-weight: 100;
}
.tabcontent {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}
#chordRoot, #chordRoot2, #chordType, #chordType2, #add9, #add92, #result, #modeRoot, #modeResult, #negativeResult1, #negativeResult2 {
    border-style: ridge;
    width: 13%;
    margin:0 auto;
    border-radius: 10px;
}
.tablinks {
    color: rgb(70, 80, 79);
    font-weight: 100;
    letter-spacing: 1.5px;
}
#modeSelect, #keySelect {
    display: block;
    text-align: center;
    margin: 0 auto;
}
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}



